## Music Label
Um conjunto de dados de música gerado sinteticamente.

### ARTISTS

`artist_id:` identificador exclusivo do artista; \
`real_name:` nome real do artista; \
`art_name:`  nome artístico; \
`role:` o papel principal do artista (cantor, guitarrista, dançarino, baterista…); \
`yearofbirth:` ano de nascimento do artista; \
`email:` o email do artista; \
`country:` de onde vem o artista; \
`city:` a cidade em que o artista vive; \
`zip_code:` o CEP. \

### ALBUMS

`album_id:` o identificador do álbum; \
`artist_id:` o identificador do artista; \
`album_title:` o título do álbum; \
`genre:` o gênero do álbum; \
`yearofpub:` o ano em que o álbum foi lançado; \
`numoftracks:` quantas faixas há no álbum; \
`numofsales:` quantas vendas o álbum fez no primeiro mês após o lançamento; \
`rollingstonecritic:` omo a revista Rolling Stone avaliou o álbum; \
`mtv_critic:`  como a MTV avaliou o álbum; \
`musicmaniaccritic:` como o site de críticas Music Maniac avaliou o álbum. \

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt

In [2]:
df_albums  = pd. read_csv('data/albums.csv', index_col=0)
df_artists = pd. read_csv('data/artists.csv', index_col=0)

In [3]:
df_albums

,artist_id,album_title,genre,year_of_pub,num_of_tracks,num_of_sales,rolling_stone_critic,mtv_critic,music_maniac_critic
album_id,,,,,,,,,
1,1767,Call me Cat Moneyless That Doggies,Folk,2006,11,905193,4.0,1.5,3.0
2,23548,Down Mare,Metal,2014,7,969122,3.0,4.0,5.0
3,17822,Embarrassed Hungry,Latino,2000,11,522095,2.5,1.0,2.0
4,19565,Standard Immediate Engineer Slovakia,Pop,2017,4,610116,1.5,2.0,4.0
5,24941,Decent Distance Georgian,Black Metal,2010,8,151111,4.5,2.5,1.0
...,...,...,...,...,...,...,...,...,...
99996,44624,Mike Pies Malay Albanian Terrible,Pop-Rock,2016,3,871655,2.5,1.5,1.0
99997,16345,Global,Retro,2013,14,146202,5.0,2.5,1.0
99998,32674,MINI,Indie,2018,4,620452,2.0,4.0,5.0
99999,10134,Marketing Belligerent Toe,Pop,2007,7,643276,4.0,1.5,4.0
100000,41286,Lover Barbie Of Rock,Rock,2014,7,466962,3.5,4.5,2.5

In [4]:
df_artists

,real_name,art_name,role,year_of_birth,country,city,email,zip_code
artist_id,,,,,,,,
1,Kameko Nelson,NaN,female voice,1981,Slovenia,Vedrin,lorem.tristique.aliquet@nonummyFusce.co.uk,6914
2,Sacha Cameron,Bianco Ibureno Chloride,artist,1955,Guernsey,Montigny-le-Tilleul,Sed@elementum.com,568
3,Thane E. Oliver,NaN,rapper,1993,Guinea-Bissau,Saint-Sébastien-sur-Loire,Integer.tincidunt.aliquam@libero.com,813154
4,Cole E. Joseph,Persian responsible,bassist,1994,Estonia,Newquay,nulla.magna.malesuada@vulputate.com,A4S 2B3
5,Sonia U. Jensen,Asleep lonely Big Morgan,DJ,1988,Vanuatu,Dudzele,faucibus@euismodetcommodo.edu,46418
...,...,...,...,...,...,...,...,...
49996,Cain G. Estes,Pakistan,band member,1982,Aruba,Cagli,In@tinciduntduiaugue.co.uk,YW2 0LG
49997,Unity D. Valenzuela,Bislama Brass,drummer,1956,Canada,Caprino Bergamasco,Donec.porttitor.tellus@augueporttitorinterdum.org,6999 YX
49998,Lamar Porter,Typical,rapper,1990,Bangladesh,Massarosa,consectetuer.adipiscing@In.com,34-682
49999,Sylvester O. Mccall,Glossy Kyleigh,chorister,1994,Libya,Tramutola,mi@laoreet.edu,8737
50000,Rashad Z. Medina,NaN,rapper,1958,Saint Barthélemy,Faridabad,eu@morbi.ca,8129

In [5]:
# Combinando os dataframes
df_music = pd.merge(df_albums, df_artists, on='artist_id', how='left')
df_music

,artist_id,album_title,genre,year_of_pub,num_of_tracks,num_of_sales,rolling_stone_critic,mtv_critic,music_maniac_critic,real_name,art_name,role,year_of_birth,country,city,email,zip_code
0,1767,Call me Cat Moneyless That Doggies,Folk,2006,11,905193,4.0,1.5,3.0,Duncan Y. Nieves,NaN,composer,2000,Myanmar,Lincoln,sed@Inat.org,52324
1,23548,Down Mare,Metal,2014,7,969122,3.0,4.0,5.0,Oleg X. Koch,Messy Harold Herald,trapper,1966,Oman,Newport,fames.ac.turpis@felis.com,11703
2,17822,Embarrassed Hungry,Latino,2000,11,522095,2.5,1.0,2.0,Hedwig D. Schwartz,Tots-Courageous Fitness Trainer,guitarist,1958,United Kingdom (Great Britain),Bayonne,posuere.cubilia.Curae@necurnasuscipit.edu,24297
3,19565,Standard Immediate Engineer Slovakia,Pop,2017,4,610116,1.5,2.0,4.0,Chaim B. Whitfield,Skye Matter,soprano,1988,Virgin Islands British,Kermt,iaculis.lacus@Donecnon.org,5852 NA
4,24941,Decent Distance Georgian,Black Metal,2010,8,151111,4.5,2.5,1.0,Lawrence Atkins,Confident Aono search,drummer,1995,Gambia,Sherborne,dis.parturient@musAenean.co.uk,4308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,44624,Mike Pies Malay Albanian Terrible,Pop-Rock,2016,3,871655,2.5,1.5,1.0,Lucian T. Bruce,Jordan,soprano,1965,Chad,Castro,parturient.montes@lobortisClassaptent.com,0750 TE
99996,16345,Global,Retro,2013,14,146202,5.0,2.5,1.0,Kylie Mclaughlin,Francisco,guitarist,1998,Bouvet Island,Palagano,Aliquam.fringilla@inconsectetuer.co.uk,333322
99997,32674,MINI,Indie,2018,4,620452,2.0,4.0,5.0,Odette Logan,NaN,artist,1996,Pitcairn Islands,Gulfport,mauris@Seddiam.co.uk,109875
99998,10134,Marketing Belligerent Toe,Pop,2007,7,643276,4.0,1.5,4.0,Baker Y. Moore,Kendall,guitarist,1983,Guadeloupe,Pazarcık,feugiat.metus@enimnectempus.net,114458
99999,41286,Lover Barbie Of Rock,Rock,2014,7,466962,3.5,4.5,2.5,Clio T. Ellis,Tayarris,singer,1996,Jersey,Dunbar,feugiat@egestas.org,80292

In [6]:
df_music.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100000 entries, 0 to 99999
Data columns (total 17 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   artist_id             100000 non-null  int64
 1   album_title           100000 non-null  object
 2   genre                 100000 non-null  object
 3   year_of_pub           100000 non-null  int64
 4   num_of_tracks         100000 non-null  int64
 5   num_of_sales          100000 non-null  int64
 6   rolling_stone_critic  100000 non-null  float64
 7   mtv_critic            100000 non-null  float64
 8   music_maniac_critic   100000 non-null  float64
 9   real_name             100000 non-null  object
 10  art_name              66488 non-null   object
 11  role                  100000 non-null  object
 12  year_of_birth         100000 non-null  int64
 13  country               100000 non-null  object
 14  city                  100000 non-null  object
 15  email                 100000 non-null  object
 16  zip_code              100000 non-null  object
dtypes: float64(3), int64(5), object(9)
memory usage: 13.7+ MB

In [7]:
df_music.describe()

,artist_id,year_of_pub,num_of_tracks,num_of_sales,rolling_stone_critic,mtv_critic,music_maniac_critic,year_of_birth
count,100000.000000,100000.000000,100000.00000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000
mean,24981.782050,2009.520960,8.48950,500044.72656,2.748945,2.751780,2.748225,1977.542790
std,14450.407866,5.776074,4.04511,288033.73321,1.435789,1.437516,1.434577,13.212482
min,1.000000,2000.000000,2.00000,1009.00000,0.500000,0.500000,0.500000,1955.000000
25%,12388.000000,2004.000000,5.00000,251603.50000,1.500000,1.500000,1.500000,1966.000000
50%,24940.500000,2010.000000,8.00000,499531.50000,2.500000,3.000000,3.000000,1978.000000
75%,37498.250000,2015.000000,12.00000,749354.25000,4.000000,4.000000,4.000000,1989.000000
max,50000.000000,2019.000000,15.00000,999994.00000,5.000000,5.000000,5.000000,2000.000000